* text=auto eol=lf
*.sh text eol=lf
*.mk text eol=lf
*.rc text eol=lf
*.prop text eol=lf
*.xml text eol=lf
*.flags text eol=lf
*.fstab text eol=lf
*.yml text eol=lf
*.py text eol=lf
*.md text eol=lf
*.diff text eol=lf
*.so binary
*.bin binary
*.img binary
*.dtb binary
device/realme/RMX2121/prebuilt/kernel binary
device/realme/RMX2121/prebuilt/dtbo binary
